# Set default behavior to auto-convert CRLF line endings
* text=auto

# Force these files to always have LF line endings
*.sh text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.gz binary